
.list-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    border: 1px solid black;
}

.board {
    width: 80%;
    padding: 10px;
}

.add-btn{
    background-color: #ffccdd;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.loginJoin-btn{
    display: flex;

}
.login-btn, .join-btn, .logout-btn {
    margin: 5px;
    background-color: #006699;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.title{
    cursor: pointer;
    text-decoration-line: underline;
}
.title:hover{
    color:pink;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.search-container select,
.search-container input,
.search-container button {
    margin: 0 5px;
    padding: 5px;
}

#countComment{
    color:red;
}

