<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자유게시판 상세보기</title>
    <link rel="stylesheet" href="/board/css/board_view.css">
    <link rel="stylesheet" href="/board/css/board_drop.css">
    <script language="JavaScript" src="/js/jquery-3.7.1.min.js"></script>

</head>
<body>
<header>
    <h1 onclick="location.href='/'" style="cursor: pointer">Link X</h1>
    <button>Log in</button>
</header>

<div id="container">
    <nav>
        <ul>
            <li><strong>게시판</strong></li>
            <li><a href="/boardFree/board_list?page=1&searchName=">자유 게시판</a></li>
            <li class="dropdown">
                <a href="#">학과 게시판 ▼</a>
                <ul class="dropdown-content">
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=1">컴퓨터공학과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=2">컴퓨터보안공학과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=3">전자공학과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=4">정보통신공학과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=5">기계공학과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=6">산업경영공학과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=7">전기공학과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=8">토목공학과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=9">지적공간정보학과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=10">드론정보공학과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=11">경영학과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=12">세무회계과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=13">사회복지과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=14">부동산경영과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=15">항공서비스과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=16">일본어과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=17">유아교육과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=18">문예창작과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=19">중국어비즈니스과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=20">산업디자인과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=21">커뮤니케이션디자인과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=22">패션리빙디자인과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=23">사회체육과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=24">뷰티매니지먼트과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=25">보건의료정보과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=26">실용음악과</a></li>
                    <li><a href="/boardDept/board_list?page=1&searchName=&majorId=27">연극영상학과</a></li>

                </ul>
            </li>
            <li><strong>청원하기</strong></li>
            <li><a href="#">청원 진행중</a></li>
            <li><a href="#">청원 종료</a></li>
            <li><strong>맛집추천</strong></li>
        </ul>
    </nav>

    <main>
        <div class="board-header">
            <div class="boardListBtn" onclick="location.href='/boardDept/board_list?page=1&searchName=&majorId='+{{BoardDeptDto.majorId}}">후기게시판</div>
            <div class="board-title">{{BoardDeptDto.title}}</div>
            <div class="createInfo">
                <div class="createName">{{BoardDeptDto.createName}}</div>
                <div class="createDt-viewQty">
                    <span>{{BoardDeptDto.createDt}}</span>
                    <span>조회 {{BoardDeptDto.viewQty}}</span>
                </div>
            </div>
        </div>

        <div class="board-container">
            <p class="board-content">{{BoardDeptDto.content}}</p>
            <img id="likeIcon" src="/board/img/unlikeIcon.png" class="board-like" onclick="$.likeItem({{BoardDeptDto.id}});"width="25px" height="25px">
            <span id="likeQty"> {{BoardDeptDto.likeQty}}</span></img>
            <div class="buttons">
                <button onclick="location.href='/boardDept/board_update?id={{BoardDeptDto.id}}'">수정</button>
                <button onclick="$.boardDelete({{BoardDeptDto.id}});">삭제</button>
            </div>
        </div>

        <div class="comments">

            <p><strong>박영희</strong>: 확인했습니다~ 참가 꼭 할게요</p>
            <textarea placeholder="댓글 추가"></textarea>
            <button>댓글 추가</button>
        </div>
    </main>
</div>
</body>
<script>
    $.boardDelete = function (id) {
        let alert = confirm("해당 게시글을 삭제하시겠습니까?");
        if (alert) {
            window.location.href="/boardDept/board_delete?id="+id;
        }
    };

    // 게시글 좋아요
    $.likeItem = function (id) {
        let likeIcon = $("#likeIcon");
        // likeIcon의 src 속성 가져오기
        let src = likeIcon.attr("src");
        // src 속성 안에 "unlike" 문자열이 있는지 확인
        let check = src.includes("unlike");
        // src 속성값에 "unlike"가 포함되어 있다면 좋아요 요청 / 없다면 좋아요 취소 요청
        let url = check ? "/api/v1/boarddept" +
            "" +
            "/like/" + id : "/api/v1/boarddept/unlike/" + id;

        $.ajax({
            url: url,
            type: "GET",
            datatype: "JSON",
            contentType: "application/json; charset=UTF-8",
        }).done(function (data, status, xhr) {
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            if (status === "success") {

                //좋아요 개수 업데이트
                $("#likeQty").text(data.responseData.likeQty);

                // 좋아요 상태에 따른 아이콘 업데이트
                let count = data.responseData.updateDt * 1;
                if (count > 0) {
                    likeIcon.attr("src", "/board/img/likeIcon.png");
                } else {
                    likeIcon.attr("src", "/board/img/unlikeIcon.png");
                }
            }
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            alert("실패 했습니다. " + jqXHR.responseJSON.message);
        });
    }
</script>
</html>