<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 1920px; height: 1080px; position: relative; background: white">
  <div style="left: 524px; top: 70px; position: absolute; color: #1A1A1A; font-size: 32px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">게시판</div>
  <div style="left: 524px; top: 128px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
    <div style="padding-left: 16px; padding-right: 16px; padding-top: 10px; padding-bottom: 10px; background: white; border-radius: 30px; border: 1px #F76394 solid; justify-content: center; align-items: center; gap: 10px; display: flex">
      <div style="text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">자유게시판</div>
    </div>
    <div style="padding-top: 10px; padding-bottom: 10px; padding-left: 16px; padding-right: 10px; background: white; border-radius: 30px; border: 1px #D0D2D9 solid; justify-content: center; align-items: center; gap: 2px; display: flex">
      <div style="text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">전체학과</div>
      <div style="width: 16px; height: 16px; position: relative">
        <div style="width: 8px; height: 5px; left: 4px; top: 6.50px; position: absolute; background: #F76394"></div>
        <div style="width: 16px; height: 16px; left: 16px; top: 16px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; opacity: 0; background: #F76394"></div>
      </div>
    </div>
  </div>
  <div style="padding-left: 12px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px; left: 1511px; top: 71px; position: absolute; background: #2D88FF; border-radius: 4px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
      <img style="width: 11px; height: 11px" src="https://via.placeholder.com/11x11" />
      <div style="text-align: center; color: white; font-size: 16px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">새 글작성</div>
    </div>
  </div>
  <div style="height: 561px; left: 524px; top: 226px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="width: 1085px; height: 50px; position: relative">
      <div style="width: 1085px; height: 50px; left: 0px; top: 0px; position: absolute; background: #F2F2F3"></div>
      <div style="left: 246px; top: 17px; position: absolute; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">제목</div>
      <div style="left: 710px; top: 17px; position: absolute; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">작성자</div>
      <div style="left: 827px; top: 17px; position: absolute; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">작성일</div>
      <div style="left: 925px; top: 17px; position: absolute; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">조회수</div>
      <div style="left: 1010px; top: 17px; position: absolute; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">좋아요</div>
    </div>
    <div style="width: 1085px; height: 51px; position: relative">
      <div style="width: 1085px; height: 50px; left: 0px; top: 1px; position: absolute; background: rgba(255, 255, 255, 0)"></div>
      <div style="width: 1085px; height: 1px; left: 0px; top: 1px; position: absolute; background: #D8D8D8"></div>
      <div style="left: 30px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">1</div>
      <div style="left: 82px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대 몇글자로 표시할지는 내부에서 정해주시기 바랍니다.</div>
      <div style="left: 683px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대몇글자할...</div>
      <div style="left: 809px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">2024.12.31</div>
      <div style="left: 1020px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">23</div>
      <div style="left: 932px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">134</div>
    </div>
    <div style="width: 1085px; height: 51px; position: relative">
      <div style="width: 1085px; height: 50px; left: 0px; top: 1px; position: absolute; background: rgba(255, 255, 255, 0)"></div>
      <div style="width: 1085px; height: 1px; left: 0px; top: 1px; position: absolute; background: #D8D8D8"></div>
      <div style="left: 29px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">2</div>
      <div style="left: 82px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대 몇글자로 표시할지는 내부에서 정해주시기 바랍니다.</div>
      <div style="left: 683px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대몇글자할...</div>
      <div style="left: 809px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">2024.12.31</div>
      <div style="left: 1020px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">23</div>
      <div style="left: 932px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">134</div>
    </div>
    <div style="width: 1085px; height: 51px; position: relative">
      <div style="width: 1085px; height: 50px; left: 0px; top: 1px; position: absolute; background: rgba(255, 255, 255, 0)"></div>
      <div style="width: 1085px; height: 1px; left: 0px; top: 1px; position: absolute; background: #D8D8D8"></div>
      <div style="left: 29px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">3</div>
      <div style="left: 82px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대 몇글자로 표시할지는 내부에서 정해주시기 바랍니다.</div>
      <div style="left: 683px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대몇글자할...</div>
      <div style="left: 809px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">2024.12.31</div>
      <div style="left: 1020px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">23</div>
      <div style="left: 932px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">134</div>
    </div>
    <div style="width: 1085px; height: 51px; position: relative">
      <div style="width: 1085px; height: 50px; left: 0px; top: 1px; position: absolute; background: rgba(255, 255, 255, 0)"></div>
      <div style="width: 1085px; height: 1px; left: 0px; top: 1px; position: absolute; background: #D8D8D8"></div>
      <div style="left: 29px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">4</div>
      <div style="left: 82px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대 몇글자로 표시할지는 내부에서 정해주시기 바랍니다.</div>
      <div style="left: 683px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대몇글자할...</div>
      <div style="left: 809px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">2024.12.31</div>
      <div style="left: 1020px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">23</div>
      <div style="left: 932px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">134</div>
    </div>
    <div style="width: 1085px; height: 51px; position: relative">
      <div style="width: 1085px; height: 50px; left: 0px; top: 1px; position: absolute; background: rgba(255, 255, 255, 0)"></div>
      <div style="width: 1085px; height: 1px; left: 0px; top: 1px; position: absolute; background: #D8D8D8"></div>
      <div style="left: 29px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">5</div>
      <div style="left: 82px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대 몇글자로 표시할지는 내부에서 정해주시기 바랍니다.</div>
      <div style="left: 683px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대몇글자할...</div>
      <div style="left: 809px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">2024.12.31</div>
      <div style="left: 1020px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">23</div>
      <div style="left: 932px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">134</div>
    </div>
    <div style="width: 1085px; height: 51px; position: relative">
      <div style="width: 1085px; height: 50px; left: 0px; top: 1px; position: absolute; background: rgba(255, 255, 255, 0)"></div>
      <div style="width: 1085px; height: 1px; left: 0px; top: 1px; position: absolute; background: #D8D8D8"></div>
      <div style="left: 29px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">6</div>
      <div style="left: 82px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대 몇글자로 표시할지는 내부에서 정해주시기 바랍니다.</div>
      <div style="left: 683px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대몇글자할...</div>
      <div style="left: 809px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">2024.12.31</div>
      <div style="left: 1020px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">23</div>
      <div style="left: 932px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">134</div>
    </div>
    <div style="width: 1085px; height: 51px; position: relative">
      <div style="width: 1085px; height: 50px; left: 0px; top: 1px; position: absolute; background: rgba(255, 255, 255, 0)"></div>
      <div style="width: 1085px; height: 1px; left: 0px; top: 1px; position: absolute; background: #D8D8D8"></div>
      <div style="left: 30px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">7</div>
      <div style="left: 82px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대 몇글자로 표시할지는 내부에서 정해주시기 바랍니다.</div>
      <div style="left: 683px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대몇글자할...</div>
      <div style="left: 809px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">2024.12.31</div>
      <div style="left: 1020px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">23</div>
      <div style="left: 932px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">134</div>
    </div>
    <div style="width: 1085px; height: 51px; position: relative">
      <div style="width: 1085px; height: 50px; left: 0px; top: 1px; position: absolute; background: rgba(255, 255, 255, 0)"></div>
      <div style="width: 1085px; height: 1px; left: 0px; top: 1px; position: absolute; background: #D8D8D8"></div>
      <div style="left: 29px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">8</div>
      <div style="left: 82px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대 몇글자로 표시할지는 내부에서 정해주시기 바랍니다.</div>
      <div style="left: 683px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대몇글자할...</div>
      <div style="left: 809px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">2024.12.31</div>
      <div style="left: 1020px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">23</div>
      <div style="left: 932px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">134</div>
    </div>
    <div style="width: 1085px; height: 51px; position: relative">
      <div style="width: 1085px; height: 50px; left: 0px; top: 1px; position: absolute; background: rgba(255, 255, 255, 0)"></div>
      <div style="width: 1085px; height: 1px; left: 0px; top: 1px; position: absolute; background: #D8D8D8"></div>
      <div style="left: 29px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">9</div>
      <div style="left: 82px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대 몇글자로 표시할지는 내부에서 정해주시기 바랍니다.</div>
      <div style="left: 683px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대몇글자할...</div>
      <div style="left: 809px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">2024.12.31</div>
      <div style="left: 1020px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">23</div>
      <div style="left: 932px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">134</div>
    </div>
    <div style="width: 1085px; height: 51px; position: relative">
      <div style="width: 1085px; height: 50px; left: 0px; top: 1px; position: absolute; background: rgba(255, 255, 255, 0)"></div>
      <div style="width: 1085px; height: 1px; left: 0px; top: 1px; position: absolute; background: #D8D8D8"></div>
      <div style="left: 25px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">10</div>
      <div style="left: 82px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대 몇글자로 표시할지는 내부에서 정해주시기 바랍니다.</div>
      <div style="left: 683px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">최대몇글자할...</div>
      <div style="left: 809px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">2024.12.31</div>
      <div style="left: 1020px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">23</div>
      <div style="left: 932px; top: 16px; position: absolute; text-align: center; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">134</div>
    </div>
    <div style="width: 1085px; height: 1px; background: #D8D8D8"></div>
  </div>
  <div style="left: 524px; top: 197px; position: absolute; color: #515151; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">28개의 게시글이 있습니다.</div>
  <img style="width: 120px; height: 24px; left: 309px; top: 30px; position: absolute" src="https://via.placeholder.com/120x24" />
  <div style="width: 155px; height: 36px; left: 303px; top: 426px; position: absolute">
    <div style="width: 155px; height: 36px; left: 0px; top: 0px; position: absolute; opacity: 0; border: 1px #D0D2D9 solid"></div>
    <div style="width: 119px; height: 30px; left: 3px; top: 3px; position: absolute">
      <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute; background: #D0D2D9; border-radius: 9999px"></div>
      <div style="left: 36px; top: 6px; position: absolute; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">홍은동다람쥐</div>
    </div>
  </div>
  <div style="width: 155px; height: 36px; left: 303px; top: 380px; position: absolute">
    <div style="width: 155px; height: 36px; left: 0px; top: 0px; position: absolute; border-radius: 34px; border: 1px #F76394 solid"></div>
    <div style="left: 18px; top: 9px; position: absolute; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">로그인하기</div>
    <div style="width: 16px; height: 13px; left: 124px; top: 12px; position: absolute; border: 1px #F76394 solid"></div>
  </div>
  <div style="width: 155px; height: 36px; left: 303px; top: 104px; position: absolute">
    <div style="width: 155px; height: 36px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
    <div style="width: 76px; height: 24px; left: 6px; top: 6px; position: absolute">
      <div style="left: 30px; top: 3px; position: absolute; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">메인 홈</div>
      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
          <div style="width: 20px; height: 19.97px; left: 2px; top: 2.02px; position: absolute; border: 2px #929CA3 solid"></div>
          <div style="width: 0px; height: 3px; left: 12px; top: 14.99px; position: absolute; border: 2px #929CA3 solid"></div>
          <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 155px; height: 36px; left: 303px; top: 150px; position: absolute">
    <div style="width: 86px; height: 24px; left: 6px; top: 6px; position: absolute">
      <div style="left: 30px; top: 3px; position: absolute; color: #F76394; font-size: 16px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">청원하기</div>
      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
          <div style="width: 7px; height: 0px; left: 8px; top: 12.20px; position: absolute; border: 2px #F76394 solid"></div>
          <div style="width: 4.38px; height: 0px; left: 8px; top: 16.20px; position: absolute; border: 2px #F76394 solid"></div>
          <div style="width: 8px; height: 4px; left: 8px; top: 2px; position: absolute; border: 2px #F76394 solid"></div>
          <div style="width: 18px; height: 17.98px; left: 3px; top: 4.02px; position: absolute; border: 2px #F76394 solid"></div>
          <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
        </div>
      </div>
    </div>
    <div style="width: 155px; height: 36px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
  </div>
  <div style="width: 155px; height: 36px; left: 303px; top: 196px; position: absolute">
    <div style="width: 86px; height: 24px; left: 6px; top: 6px; position: absolute">
      <div style="left: 30px; top: 3px; position: absolute; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">맛집지도</div>
      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute">
        <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 17.14px; height: 18.57px; left: 3.43px; top: 2.71px; position: absolute">
          <div style="width: 6.86px; height: 8.57px; left: 10.29px; top: 0px; position: absolute; border: 2px #929CA3 solid"></div>
          <div style="width: 0px; height: 10px; left: 13.71px; top: 8.57px; position: absolute; border: 2px #929CA3 solid"></div>
          <div style="width: 0px; height: 18.57px; left: 3.57px; top: 0px; position: absolute; border: 2px #929CA3 solid"></div>
          <div style="width: 7.14px; height: 7.14px; left: 0px; top: 0px; position: absolute; border: 2px #929CA3 solid"></div>
        </div>
      </div>
    </div>
    <div style="width: 155px; height: 36px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
  </div>
  <div style="width: 155px; height: 36px; left: 303px; top: 242px; position: absolute">
    <div style="width: 72px; height: 24px; left: 6px; top: 6px; position: absolute">
      <div style="left: 30px; top: 3px; position: absolute; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">게시판</div>
      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
          <div style="width: 20px; height: 20px; left: 2px; top: 2px; position: absolute; border: 2px #929CA3 solid"></div>
          <div style="width: 10px; height: 5px; left: 7px; top: 9.50px; position: absolute">
            <div style="width: 10px; height: 0px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0); border: 2px #929CA3 solid"></div>
            <div style="width: 7px; height: 0px; left: 0px; top: 5px; position: absolute; background: rgba(255, 255, 255, 0); border: 2px #929CA3 solid"></div>
          </div>
          <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0; border: 2px #929CA3 solid"></div>
        </div>
      </div>
    </div>
    <div style="width: 155px; height: 36px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
  </div>
  <div style="width: 155px; height: 36px; left: 303px; top: 288px; position: absolute">
    <div style="width: 58px; height: 24px; left: 6px; top: 6px; position: absolute">
      <div style="left: 30px; top: 3px; position: absolute; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">알림</div>
      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute">
        <div style="width: 16.04px; height: 16.87px; left: 3.97px; top: 2.91px; position: absolute; border: 2px #929CA3 solid"></div>
        <div style="width: 3.70px; height: 1.26px; left: 10.17px; top: 1.94px; position: absolute; border: 2px #929CA3 solid"></div>
        <div style="width: 6px; height: 3px; left: 9.02px; top: 19.06px; position: absolute; border: 2px #929CA3 solid"></div>
        <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0; border: 1px #929CA3 solid"></div>
      </div>
    </div>
    <div style="width: 155px; height: 36px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
  </div>
  <div style="width: 155px; height: 36px; left: 303px; top: 334px; position: absolute">
    <div style="width: 58px; height: 24px; left: 6px; top: 6px; position: absolute">
      <div style="left: 30px; top: 3px; position: absolute; color: #1A1A1A; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">설정</div>
      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
          <div style="width: 6px; height: 6px; left: 9px; top: 9px; position: absolute; border: 2px #929CA3 solid"></div>
          <div style="width: 20.01px; height: 18.88px; left: 2px; top: 2.56px; position: absolute; border: 2px #929CA3 solid"></div>
          <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
        </div>
      </div>
    </div>
    <div style="width: 155px; height: 36px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
  </div>
  <div style="width: 1195px; height: 1px; left: 494px; top: 6px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #E0E0E0"></div>
  <div style="width: 302px; height: 24px; left: 916px; top: 820px; position: absolute">
    <div style="left: 48px; top: 3px; position: absolute; text-align: center; color: #F76394; font-size: 16px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">1</div>
    <div style="left: 80px; top: 3px; position: absolute; text-align: center; color: #929CA3; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">2</div>
    <div style="left: 113px; top: 3px; position: absolute; text-align: center; color: #929CA3; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">3</div>
    <div style="left: 146px; top: 3px; position: absolute; text-align: center; color: #929CA3; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">4</div>
    <div style="left: 179px; top: 3px; position: absolute; text-align: center; color: #929CA3; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">5</div>
    <div style="left: 212px; top: 3px; position: absolute; text-align: center; color: #929CA3; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">6</div>
    <div style="left: 246px; top: 3px; position: absolute; text-align: center; color: #929CA3; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">7</div>
    <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute">
      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px #D0D2D9 solid"></div>
      <div style="width: 16px; height: 16px; left: 20px; top: 4px; position: absolute; transform: rotate(90deg); transform-origin: 0 0">
        <div style="width: 8px; height: 6px; left: -6px; top: 4px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #F76394"></div>
        <div style="width: 16px; height: 16px; left: -16px; top: 16px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; opacity: 0; background: #F76394"></div>
      </div>
    </div>
    <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute">
      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px #D0D2D9 solid"></div>
      <div style="width: 16px; height: 16px; left: 20px; top: 4px; position: absolute; transform: rotate(90deg); transform-origin: 0 0">
        <div style="width: 8px; height: 6px; left: -6px; top: 4px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: #929CA3"></div>
        <div style="width: 16px; height: 16px; left: -16px; top: 16px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; opacity: 0; background: #929CA3"></div>
      </div>
    </div>
    <div style="width: 24px; height: 24px; left: 302px; top: 24px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0">
      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; border-radius: 2px; border: 1px #D0D2D9 solid"></div>
      <div style="width: 16px; height: 16px; left: -20px; top: -4px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0">
        <div style="width: 8px; height: 6px; left: 6px; top: -4px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: #929CA3"></div>
        <div style="width: 16px; height: 16px; left: 16px; top: -16px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; opacity: 0; background: #929CA3"></div>
      </div>
    </div>
  </div>
  <div style="padding-top: 7px; padding-bottom: 5.13px; padding-left: 8px; padding-right: 99px; left: 1288px; top: 128px; position: absolute; background: white; border-radius: 30px; border: 1px #D0D2D9 solid; justify-content: flex-start; align-items: center; display: inline-flex">
    <div style="width: 16px; height: 22px; position: relative; transform: rotate(-45deg); transform-origin: 0 0">
      <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; border-radius: 9999px; border: 2px #D0D2D9 solid"></div>
      <div style="width: 2px; height: 7px; left: 15.56px; top: 5.66px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; background: #D0D2D9; border-radius: 2px"></div>
    </div>
    <div style="color: #929CA3; font-size: 16px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">여기에 검색어를 입력해주세요</div>
  </div>
</div>
</body>
</html>