<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자유게시판 상세보기</title>
    <link rel="stylesheet" href="/board/css/board_view.css">
    <link rel="stylesheet" href="/board/css/board_list.css">
    <link rel="stylesheet" href="/board/css/board_drop.css">
    <script language="JavaScript" src="/js/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.7/dayjs.min.js"></script>
<!--    <link rel="stylesheet" href="/css/default.css">-->
<!--    <link rel="stylesheet" href="/css/common.css"/>-->
    <link rel="stylesheet" href="/css/content.css" />
    <link rel="stylesheet" href="/css/button.css"/>
</head>
<body>
{{>layout/header}}  <!-- 헤더 -->
<div id="container">
    {{>layout/nav}}   <!-- 메뉴바 -->
    <main>
        <!-- 게시판 헤더 ( 제목,닉네임, 작성일, 조회수 ) -->
        <div class="board-header">
            <input type="hidden" id="boardType" name="boardType" value="{{BoardFreeDto.boardType}}">
            <input type="hidden" id="id" name="boardType" value="{{BoardFreeDto.id}}">
            <div class="boardListBtn" onclick="location.href='/boardFree/board_list?page=1&searchName='">자유게시판</div>
            <div class="board-title">{{BoardFreeDto.title}}</div>
            <div class="createInfo">
                <div class="createName">{{BoardFreeDto.createName}}</div>
                <div class="createDt-viewQty">
                <span>{{BoardFreeDto.createDt}}</span>
                <span>조회 {{BoardFreeDto.viewQty}}</span>
                </div>
            </div>
        </div>

        <!-- 게시판 바디 ( 내용, 좋아요 ) -->
        <div class="board-container">
            <p class="board-content">{{BoardFreeDto.content}}</p>
            <img id="likeIcon" src="/board/img/unlikeIcon.png" class="board-like" onclick="$.likeItem('{{BoardFreeDto.id}}');" width="25px" height="25px">
            <span id="likeQty"> {{BoardFreeDto.likeQty}}</span></img>
            <!-- 수정/삭제 버튼 -->
            <div class="buttons">
                <button type="button" class="btns btn_bdr4 btn_mid" onclick="location.href='/boardFree/board_update/{{BoardFreeDto.id}}'">수정</button>
                <button type="button" class="btns btn_bdr1 btn_mid" onclick="$.boardDelete('{{BoardFreeDto.id}}');">삭제</button>
                <button type="button" class="btns btn_bdr3 btn_mid" onclick="$.goListPage();">뒤로</button>
            </div>
        </div>

        <!-- 댓글 영역-->
        <div class="comments">
            <h2>댓글  <span id="commentCount"></span></h2>
            <!-- 댓글리스트 렌더링 영역 -->
            <div id="commentList"></div>
            <!-- 댓글 추가 -->
            <div class="cm_write">
                <fieldset>
                    <legend class="skipinfo"></legend>
                    <div class="cm_input">
                        <p><textarea id="comment" name="comment" onkeyup="countingLength(this);" cols="90" rows="4" placeholder="댓글을 입력해 주세요."></textarea></p>
                        <span><button type="button" class="btns" id="addComment" onclick="$.addComment();">등 록</button><i id="counter">0/300자</i></span>
                    </div>
                </fieldset>
            </div>

        </div>
    </main>
</div>

<!--/* 댓글 수정 popup */-->
<div id="commentUpdatePopup" class="popLayer">
    <h3>댓글 수정</h3>
    <div class="pop_container">
        <table class="tb tb_row tl">
            <colgroup>
                <col style="width:30%;" /><col style="width:70%;" />
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">작성자</th>
                <td><input type="text" id="modalWriter" name="modalWriter" value="{{nickname}}" readonly/></td>
            </tr>
            <tr>
                <th scope="row">내용<span class="es">필수 입력</span></th>
                <td><textarea id="modalContent" name="modalContent" cols="90" rows="10" placeholder="수정할 내용을 입력해 주세요."></textarea></td>
            </tr>
            </tbody>
        </table>
        <p class="btn_set">
            <button type="button" id="commentUpdateBtn" onclick="$.updateComment();" class="btns btn_st2">수정</button>
            <button type="button" class="btns btn_bdr2" onclick="$.closeCommentUpdatePopup();">취소</button>
        </p>
    </div>
    <button type="button" class="btn_close" onclick="closeCommentUpdatePopup();"><span><i class="far fa-times-circle"></i></span></button>
</div>
</body>
<script>

    // 페이지 로드 후 실행되는 함수
    window.onload = function () {
        // mustahce로 받아온 값은 문자열 이기때문에 boolean형으로 변경해준다.
        let like = "{{BoardFreeDto.likeYn}}" === "true";
        var unlikeIcon = "/board/img/unlikeIcon.png";
        var likeIcon = "/board/img/likeIcon.png";
        $("#likeIcon").attr("src", (like ? likeIcon : unlikeIcon));

        // 댓글 조회
        $.getBoardCommentList();



    };

    // 게시글 목록 페이지로 이동
    $.goListPage = function () {
        window.location.href = '/boardFree/board_list?page=1&searchName=';
    };

    // 게시글 삭제
    $.boardDelete = function (id) {
        let alert = confirm("해당 글을 삭제하시겠습니까?");
        if (alert) {
            window.location.href="/boardFree/board_delete/"+id;
        }
    };

    // 게시글 좋아요
    $.likeItem = function (id) {
        let likeIcon = $("#likeIcon");
        // likeIcon의 src 속성 가져오기
        let src = likeIcon.attr("src");
        // src 속성 안에 "unlike" 문자열이 있는지 확인
        let check = src.includes("unlike");
        // src 속성값에 "unlike"가 포함되어 있다면 좋아요 요청 / 없다면 좋아요 취소 요청
        let url = check ? "/api/v1/boardfree/like/" + id : "/api/v1/boardfree/unlike/" + id;


        // ajax를 이용한 비동기 통신
        $.ajax({
            url: url,
            type: "GET",
            datatype: "JSON",   // 응답 데이터 타입
            contentType: "application/json; charset=UTF-8", // 전달하는 데이터 타입 : JSON , 인코딩 : UTF-8
        }).done(function (data, status, xhr) {
            // data : ResponseEntity.body
            // status : JQuery 상태 문자열 성공시 success
            // xhr : HTTP 상태코드, 응답 헤더 포함
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            if (status === "success") {

                //좋아요 개수 업데이트
                $("#likeQty").text(data.responseData.likeQty);

                // 좋아요 상태에 따른 아이콘 업데이트
                let count = data.responseData.likeYn * 1;
                if (count > 0) {
                    likeIcon.attr("src", "/board/img/likeIcon.png");
                } else {
                    likeIcon.attr("src", "/board/img/unlikeIcon.png");
                }
            }
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            alert("실패 했습니다. " + jqXHR.responseJSON.message);
        });
    }

    // 댓글 추가
    $.addComment= function() {
        let type = $("#boardType").val();
        let boardId = $("#id").val();
        let comment = $("#comment").val();

        let url = "/api/v1";

        if (comment === "") {
            alert("댓글 내용을 입력해 주세요!");
            return;
        }
        if (!confirm("댓글을 추가하시겠습니까?")) {
            return;
        }


        $.ajax({
            url: url,
            type: "POST",
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({"boardType": type, "boardId": boardId, "comment": comment})
        }).done(function (data, status, xhr) {
            console.log("data :", data, ",status : ", +status, ",xhr : ", xhr);
            $("#comment").val("");
            $.getBoardCommentList();
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("fail: jqXHR=", jqXHR, ", status=", status, ", errorThrown=", errorThrown);
            let message = getErrorMessage(jqXHR.responseJSON);
            alert("댓글 추가를 실패했습니다. " + message);
        });
    }

    // 댓글 조회 -> 로드 후 / 좋아요 할 때마다 호출 해줘야함
    $.getBoardCommentList = function () {
        let id = $("#id").val();
        let type = $("#boardType").val();

        $.ajax({
            url: `/api/v1/board/${type}/${id}/comments`,
            type: "GET",
            datatype: "JSON",
            contentType: "application/json; charset=UTF-8",
        }).done(function (data, status, xhr) {
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            if (status === "success") {
                let commentCount = data.responseData.length;
                $("#commentCount").text(`${commentCount}`);

                // 댓글조회 성공 시 댓글 리스트 조회
                $.showBoardCommentList(data.responseData);
            }
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
            alert("댓글 보기 실패했습니다. " + jqXHR.responseJSON);
        });
    }
    // 댓글 표시
    $.showBoardCommentList = function (commentList) {
        // 조회된 댓글이 없을 경우
        if (!commentList.length) {
            $("#commentList").html('<div class="cm_none"><p>등록된 댓글이 없습니다.</p></div>');
            return false;
        }

        // 렌더링할 html 변수
        let commentHtml = '';

        // 댓글 html 추가
        commentList.forEach(row => {
            // 수정 및 삭제 버튼 생성 조건
            let user = "{{nickname}}"
            let isCommentWriter = user === row.createName;
            commentHtml += `
                        <div class="comment">
                            <span class="writer_img"><img src="/board/img/user_icon.png" width="30" height="30" alt="기본 프로필 이미지"/></span>
                            <p class="writer">
                                <em id="commentWriter">${row.createName}</em> |
                                <span class="date">${dayjs(row.createDt).format('YYYY-MM-DD HH:mm')}</span>
                            </p>
                            <div class="cont"><div class="txt_con">${row.comment}</div></div>
                            <p class="func_btns">
                                 <!-- 댓글 수정 버튼 -->
                    ${isCommentWriter ? `
                    <button type="button" onclick="$.openCommentUpdatePopup(${row.id});" class="btns">
                        <span class="icons icon_modify">수정</span>
                    </button>` : ''}
                    <!-- 댓글 삭제 버튼 -->
                    ${isCommentWriter ? `
                    <button type="button" onclick="$.deleteComment(${row.id});" class="btns">
                        <span class="icons icon_del">삭제</span>
                    </button>` : ''}
                            </p>
                        </div>
                    `;
        })


        $("#commentList").html(commentHtml);
    };

    // 댓글 수정 팝업 open
    $.openCommentUpdatePopup = function(id) {

        let boardId = $("#id").val();
        let boardType = $("#boardType").val();

        $.ajax({
            url: `/api/v1/board/${boardType}/${boardId}/comments/${id}`,
            type: 'get',
            dataType: 'json',
            async: false,

            error: function (request, status, error) {
                console.log(error)
            }
        }).done(function (data, status, xhr) {
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            if (status === "success") {
                $('#commentUpdateBtn').attr('onclick', `$.updateComment(${id})`);
                $.layerPop('commentUpdatePopup');
            }
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("fail: jqXHR=", jqXHR, ", status=", status, ", errorThrown=", errorThrown);
            let message = getErrorMessage(jqXHR.responseJSON);
            alert("댓글 수정을 실패했습니다. " + message);
        });
    }
    // 댓글 수정
    $.updateComment = function(id) {

        let comment = $("#modalContent").val();
        let boardType = $("#boardType").val();
        let boardId = $("#id").val();

        let url = `/api/v1/board/${boardType}/${boardId}/comments/${id}`;

        //댓글id, 댓글
        const params = {
            id : id,
            comment : comment,
        }

        $.ajax({
            url: url,
            type: 'patch',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(params),
            async: false,
        }).done(function (data, status, xhr) {
            console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
            if (status === "success") {
                alert('수정되었습니다.');
                $.closeCommentUpdatePopup();
                $.getBoardCommentList();
            }
        });
    }
    // 댓글 수정 팝업 close
    $.closeCommentUpdatePopup = function() {
        document.getElementById('commentUpdateBtn').removeAttribute('onclick');
        $.layerPopClose('commentUpdatePopup');
    }
    // 레이어 팝업(기본)
    $.layerPop = function(popName){
        var $layer = $("#"+ popName);
        $layer.fadeIn(500).css('display', 'inline-block').wrap( '<div class="overlay_t"></div>');
        $('body').css('overflow','hidden');
    }
    $.layerPopClose = function(){
        $(".popLayer").hide().unwrap( '');
        $('body').css('overflow','auto');
        $(".popLayer video").each(function() { this.pause(); this.load(); });
    }




    // 댓글 삭제
    $.deleteComment= function(id) {
        let boardType = $("#boardType").val();
        let boardId = $("#id").val();

        let url = `/api/v1/board/${boardType}/${boardId}/comments/${id}`;

        if (!confirm("댓글을 삭제하시겠습니까?")) {
            return;
        }

        $.ajax({
            url: url,
            type: "DELETE",
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({"id": id})
        }).done(function (data, status, xhr) {
            console.log("data :", data, ",status : ", +status, ",xhr : ", xhr);
            $.getBoardCommentList();
        }).fail(function (jqXHR, status, errorThrown) {
            console.log("fail: jqXHR=", jqXHR, ", status=", status, ", errorThrown=", errorThrown);
            let message = getErrorMessage(jqXHR.responseJSON);
            alert("댓글 삭제를 실패했습니다. " + message);
        });
    }
</script>
</html>