<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/board/css/board_add.css">
    <script language="JavaScript" src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<section id="background" class="section">
    <div class="container mx-auto py-16 px-2">
        <div class="board-container bg-white shadow-md rounded-lg p-3">
            <h1 class="add-title">게시글 수정</h1>
            <form id="postForm"  name="postForm" method="post" action="/boardFree/board_update"
                   class="p-4 bg-white no-border rounded">
                <!-- id -->
                <input type="hidden" id="id" name="id" value="{{BoardFreeDto.id}}">
                <!-- 제목 -->
                <input type="text" id="title" name="title" class="mb-4 full-width p-4 border border-gray-300 rounded" value="{{BoardFreeDto.title}}">
                <!-- 내용 -->
                <div id="content" name="content" class="mb-4 border border-gray-300 p-4 rounded-lg" contenteditable="true" data-content="{{BoardFreeDto.content}}"></div>
                <!-- 내용을 담을 hidden input 필드(div는 폼데이터에 포함x) -->
                <input type="hidden" id="hiddenContent" name="content">

                <!-- 하단 바 -->
                <div class="flex justify-between items-center">
                    <!-- 취소 및 추가 버튼 -->
                    <div class="flex space-x-4">
                        <button type="button" onclick="goBack()"
                                class="bg-blue-500 text-white px-6 py-3 rounded-full text-lg">취소
                        </button>
                        <input type="submit" value="등록" style="cursor: pointer;" class="bg-blue-500 text-white px-6 py-3 rounded-full text-lg">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
<script>
    // 페이지 로드 시 content div에 data-content 값 삽입
    $(document).ready(function () {
        let content = $("#content").data("content");  // data-content 속성 값 가져오기
        $("#content").text(content);  // div 내부에 텍스트 삽입
    });

    // 폼 제출 시 content 값을 hidden input에 복사
    $("#postForm").submit(function (e) {
        let content = $("#content").text();  // content div의 내용 가져오기
        $("#hiddenContent").val(content);    // hidden input에 값 설정
    });
</script>
</html>