<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자유게시글 수정</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script language="JavaScript" src="/js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/board/css/board_add.css">
    <link rel="stylesheet" href="/board/css/board_list.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- summernote -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

    {{>layout/links}}
</head>
<body class="index-page">
{{>layout/header}}
<main class="main">
    <section>
        <div class="container mx-auto py-16 px-2">
            <div class="board-container shadow-md rounded-lg p-10">
                <h1 class="add-title">게시글 수정</h1>

                <form id="postForm"  name="postForm" method="post" action="/boardFree/board_update"
                       class="p-4 bg-white no-border rounded">
                    <!-- id -->
                    <input type="hidden" id="id" name="id" value="{{BoardFreeDto.id}}">
                    <!-- 제목 -->
                    <input type="text" id="title" name="title" class="mb-4 full-width p-4 border border-gray-300 rounded" value="{{BoardFreeDto.title}}" placeholder="제목을 입력하세요" required>
                    <!-- 내용 -->
                    <div>
	                    <textarea id="content" name="content" placeholder="내용을 입력하세요" required>
                            {{BoardFreeDto.content}}
	                    </textarea>
                    </div>
                    <!-- 하단 바 -->
                    <div>
                        <!-- 취소 및 추가 버튼 -->
                        <div class="btnBar">
                            <button type="button" onclick="$.goBack()"
                                    class="bg-blue-500 text-white px-6 py-3 rounded-full text-lg">취소
                            </button>
                            <input type="submit" value="수정" style="cursor: pointer;" class="bg-blue-500 text-white px-6 py-3 rounded-full text-lg">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
<script>

    $.goBack = function () {
        window.history.back();
    };


    let summerConfig = {
        // 에디터 크기 설정
        height: 800,
        // 에디터 한글 설정
        lang: 'ko-KR',
        // 에디터에 커서 이동 (input창의 autofocus라고 생각하시면 됩니다.)
        toolbar: [
            // 글자 크기 설정
            ['fontsize', ['fontsize']],
            // 글자 [굵게, 기울임, 밑줄, 취소 선, 지우기]
            ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
            // 글자색 설정
            ['color', ['color']],
            // 표 만들기
            ['table', ['table']],
            // 서식 [글머리 기호, 번호매기기, 문단정렬]
            ['para', ['ul', 'ol', 'paragraph']],
            // 줄간격 설정
            ['height', ['height']],
            // 이미지 첨부
            ['insert',['picture']]
        ],
        // 추가한 글꼴
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
        // 추가한 폰트사이즈
        fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72','96'],
        // focus는 작성 페이지 접속시 에디터에 커서를 위치하도록 하려면 설정해주세요.
        focus : true
    };
    $('#content').summernote(summerConfig);
</script>
</html>