<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjc.linkx.comment.ICommentMyBatisMapper">
    <insert id="insert" parameterType="CommentDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment_tbl (boardType,
                                       boardId,
                                       comment,
                                       createId)
        VALUES ( #{boardType},
                #{boardId},
                #{comment},
                #{createId} )
    </insert>

    <update id="update" parameterType="CommentDto">
        UPDATE comment_tbl
        SET comment = #{comment}, updateDt = #{updateDt}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        UPDATE comment_tbl
        SET deleteYn = true
        WHERE id = #{id}
    </delete>

    <select id="findByCommentId" resultType="CommentDto">
        SELECT id, comment, likeQty, boardId, createDt, createId, updateDt, deleteYn
        FROM comment_tbl
        WHERE id = #{id} AND deleteYn = false
    </select>

    <update id="addLikeQty">
        UPDATE comment_tbl
        SET likeQty = likeQty + 1
        WHERE id = #{id}
          AND deleteYn = false
    </update>

    <update id="subLikeQty">
        UPDATE comment_tbl
        SET likeQty = likeQty - 1
        WHERE id = #{id}
          AND deleteYn = false
    </update>

    <select id="findAllByBoardTypeId" parameterType="SearchCommentDto" resultType="CommentDto">
        SELECT ct.id,
               ct.comment,
               ct.likeQty,
               ct.boardId,
               ct.createDt,
               ct.createId,
               ut.nickname AS createName,
               ct.updateDt,
               ct.deleteYn,
               clt.commentId
        FROM comment_tbl ct
                 LEFT JOIN user_tbl ut ON ct.createId = ut.id
                 LEFT JOIN comment_like_tbl clt ON ct.id = clt.commentId AND clt.createId = #{createId}
        WHERE ct.boardType = #{boardType}
          AND ct.boardId = #{boardId}
          AND ct.deleteYn = false
        ORDER BY ${orderByWord}
            LIMIT #{rowsOnePage} OFFSET #{firstIndex}
    </select>
</mapper>