<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjc.linkx.calendar.ICalendarMapper">

    <!--일정 조회하기기 -->
    <select id="calendarList" resultType="CalendarDto">
        SELECT
            calendarNo,
            calendarTitle AS TITLE,
            DATE_FORMAT(calendarStart, '%Y-%m-%d %H:%i:%s') AS START1,
            DATE_FORMAT(calendarEnd,'%Y-%m-%d %H:%i:%s') AS END,
            allDay
        FROM calendar_tbl
    </select>

    <!--일정 저장하기-->
    <insert id="calendarSave" parameterType="CalendarDto" useGeneratedKeys="true" keyColumn="calendarNo" keyProperty="calendarNo">
        INSERT INTO calendar_tbl (calendarNo, calendarTitle, calendarStart, calendarEnd, allDay)
        VALUES (
                   (SELECT IFNULL(MAX_CALENDAR_NO + 1, 1)
                    FROM (SELECT MAX(calendarNo) AS MAX_CALENDAR_NO FROM calendar_tbl) AS temp),
                #{title},
                STR_TO_DATE(#{start1}, '%Y-%m-%d %H:%i:%s'),
                STR_TO_DATE(#{end}, '%Y-%m-%d %H:%i:%s'),
                #{allDay}
               );

    </insert>



    <!--일정 삭제하기 -->
    <delete id="calendarDelete">
        DELETE FROM calendar_tbl WHERE calendarNo = #{no}
    </delete>

    <!--일정 수정하기 -->
    <update id="eventUpdate" parameterType="CalendarDto">
        UPDATE calendar_tbl SET
                            calendarTitle = #{title} ,
                            calendarStart = STR_TO_DATE(#{start1}, '%Y-%m-%d %H:%i:%s') ,
                            calendarEnd = STR_TO_DATE(#{end}, '%Y-%m-%d %H:%i:%s') ,
                            allDay = #{allDay}
        WHERE calendarNo = #{calendarNo}
    </update>

</mapper>
