<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjc.linkx.petition.petitionSignitureMapper">
<!--signiture_tbl에 데이터 삽입-->
    <insert id="insert" parameterType="petiSignitureDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO signatures_tbl ( userId
                                   , petiId
                                   )
        VALUES ( #{userId}
               , #{petiId}
               )
    </insert>

    <!--<delete id="deleteByTypeAndIdAndUser" parameterType="BoardLikeDto">
        DELETE FROM board_like_tbl
        WHERE boardType = #{boardType}
          AND boardId = #{boardId}
          AND createId = #{createId}

    </delete>-->

    <!--동의자수를 구하는 sql-->
    <select id="countByIdAndUser" resultType="Integer" parameterType="petiSigniture">
        SELECT count(*)
        FROM signatures_tbl
        WHERE userId = #{userId}
          AND petiId = #{petiId}


    </select>
</mapper>