<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjc.linkx.petition.IPetitionMyBatisMapper">

    <!--게시글 등록 -->
    <insert id="insert" parameterType="PetitionDto" useGeneratedKeys="true" keyProperty="id">  <!-- useGeneratedKeys 속성으로 자동생성된 키를 가져오고,
                                                                                                    keyProperty 속성에 "id" 필드를 정의하여 id 값이
                                                                                                     자동 증감되어 DB에 저장된다 -->

        INSERT INTO petition_tbl ( petiTitle
                                    , petiField
                                   , petiContent
                                    ,userId

                                   )
        VALUES ( #{petititle}
                ,#{petiField}
               , #{petiContent}
                ,#{userId}
               )    <!-- parameterType "BoardFreeDto"를 매개변수로 받아와 해당 필드인 title, content, createId를 삽입 -->

    </insert>

    <!-- 게시글 상세정보 조회 -->
    <select id="findById" parameterType="long" resultType="PetitionDto" >
        SELECT pt.id
             , pt.petiField
             , pt.petititle
             , pt.userId
             , ut.userNickName as userNickName
             , pt.createDt
             , pt.peticontent
             , pt.endDt

        FROM petition_tbl pt
        LEFT JOIN user_tbl ut ON pt.userId = ut.id
        WHERE pt.id = #{id}

    </select>

    <!-- 게시글 삭제 -->
    <delete id="delete" parameterType="long">
        UPDATE petition_tbl
        SET deleteYn = TRUE
        WHERE id = #{id}
    </delete>


<!-- SerchBoardDto는 기본으로 만들어 놓으신 자바 코드로 필요에 따라 상속 받아서 사용하거나 하면 될것 같음 -->


    <!-- 게시글 리스트 조회 -->
    <select id="findAllByNameContains" parameterType="SearchBoardDto" resultType="PetitionDto">
        SELECT pt.id
             , pt.petiTitle
             , pt.petiField
             , pt.petiContent
             , pt.createDt
             , pt.endDt
             , ut.nickname AS createName
             , pt.agreeQty
             , pt.playing
        FROM petition_tbl pt
        LEFT JOIN user_tbl ut ON pt.userId = ut.id

        ORDER BY ${orderByWord}
        LIMIT #{rowsOnePage} OFFSET #{firstIndex}
    </select>

    <!-- 게시글 카운트 (아마 작성자를 기준으로 작성글을 찾는것 같음
    <select id="countAllByNameContains" parameterType="SearchBoardDto" resultType="Integer">
        SELECT COUNT(*)
        FROM petition_tbl pt
        LEFT JOIN user_tbl ut ON pt.userId = ut.id
        WHERE pt.playing = false
        AND ${searchType} LIKE CONCAT('%',#{searchName},'%')
    </select>
    -->
<!--조회수 증가(조회수 항목이 없으니 비활성화)
    <update id="addViewQty" parameterType="Long">
        UPDATE board_free_tbl
        SET viewQty = viewQty + 1
        WHERE deleteYn = false
        AND id = #{id}
    </update>
        -->
    <!--동의자수 증가-->
    <update id="addAgreeQty">
        UPDATE petition_tbl
        SET agreeQty = agreeQty + 1
        WHERE id = #{id}
        AND playing = false
    </update>


</mapper>
