<div class="header">
    <h1 onclick="location.href='/'" style="cursor: pointer">Link X</h1>
    <div class="loginJoin-btn">
        {{^nickname}} <!-- nickname이 null인 경우 -->
        <button class="join-btn" onclick="location.href='/session-login/join'">회원가입</button>
        <button class="login-btn" onclick="location.href='/session-login/login'">LOGIN</button>
        {{/nickname}}
        {{#nickname}} <!-- nickname이 있는 경우 -->
        <button class="login-btn" onclick="location.href='/session-login/logout'">LOGOUT</button>
        {{/nickname}}
    </div>
</div>