
<link href="/css/header.css" rel="stylesheet">
<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>
    <div class="profile-img">
        <a class="logoBtn" href="/"><img class="logo" src="/img/linkxLogo.png"></a>
    </div>
    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="/" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
            <li class="dropdown"><a href="/petition/petition_list?sortColumn=createDt&sortAscDesc=DESC&petiField=&searchName=&page=1"><i class="bi bi-person navicon"></i><span>청원하기</span><i class="bi bi-chevron-down toggle-dropdown"></i> </a>
                <ul>
                    <li><a href="/petition/petition_list?sortColumn=createDt&sortAscDesc=DESC&petiField=&searchName=&page=1"> 진행중 청원</a></li>
                    <li><a href="/petition/petition_list_old?sortColumn=createDt&sortAscDesc=DESC&petiField=&searchName=&page=1"> 종료된 청원</a></li>
                </ul>
            </li>
            <li><a href="/spotlink"><i class="bi bi-file-earmark-text navicon"></i> 스팟링크</a></li>
            <li class="dropdown"><a href="/boardFree/board_list?page=1&searchName="><i class="bi bi-menu-button navicon"></i> <span>게시판</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                    <li><a href="/boardFree/board_list?page=1&searchName=">자유 게시판</a></li>
                    <li class="dropdown"><a href="/boardDept/board_list?page=1&searchName=&majorId=1"><span>학과 게시판</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=1">컴퓨터공학과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=2">컴퓨터보안공학과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=3">전자공학과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=4">정보통신공학과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=5">기계공학과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=6">산업경영공학과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=7">전기공학과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=8">토목공학과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=9">지적공간정보학과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=10">드론정보공학과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=11">경영학과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=12">세무회계과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=13">사회복지과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=14">부동산경영과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=15">항공서비스과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=16">일본어과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=17">유아교육과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=18">문예창작과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=19">중국어비즈니스과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=20">산업디자인과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=21">커뮤니케이션디자인과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=22">패션리빙디자인과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=23">사회체육과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=24">뷰티매니지먼트과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=25">보건의료정보과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=26">실용음악과</a></li>
                            <li><a href="/boardDept/board_list?page=1&searchName=&majorId=27">연극영상학과</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="loginInfo">
        {{^nickname}} <!-- nickname이 null인 경우 -->
        <h5 class="login_header">로그인 되어있지 않습니다!</h5>
        <div class="btnBar" style="display: flex; justify-content: space-evenly">
            <button class="btn" style="background-color : #fff;
    border-color: #f76394;" onclick="location.href='/login/join'">JOIN</button>
            <button class="btn " style="background-color : #fff;
    border-color: #f76394;" onclick="location.href='/login/login'">LOGIN</button>
        </div>
        {{/nickname}}

        {{#nickname}} <!-- nickname이 존재하는 경우 -->
        <h5 class="login_welcome"><span class="header_nickname">{{nickname}}</span>님 환영합니다!</h5>
        <h5 class="header_major" >[{{major}}]</h5>
        <div style="display:flex; justify-content: center" >
            <button class="btn" style="background-color : #fff;
    border-color: #f76394;" onclick="location.href='/login/logout'">로그아웃</button>
        </div>
        {{/nickname}}
    </div>
</header>