<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>청원하기</title>
  <link rel="stylesheet" href="/petition/petition_add.css">
  <script language="JavaScript" src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container">
  <h1>청원하기</h1>
  <form class="form-group" id="petition" action="/petition/petition_insert" method="post">
    <div class="form-group">
      <label for="petiField">청원 분야</label>
      <div class="radio-group" id="petiField">
        <label><input type="radio" name="petiField" value="유지보수" checked> 유지보수</label>
        <label><input type="radio" name="petiField" value="교내행사"> 교내행사</label>
        <label><input type="radio" name="petiField" value="강의"> 강의</label>
        <label><input type="radio" name="petiField" value="홈페이지"> 홈페이지</label>
        <label><input type="radio" name="petiField" value="학식"> 학식</label>
        <label><input type="radio" name="petiField" value="기숙사"> 기숙사</label>
        <label><input type="radio" name="petiField" value="학생회"> 학생회</label>
        <label><input type="radio" name="petiField" value="기타"> 기타</label>
      </div>
    </div>
    <div class="form-group">
      <label for="petiTitle">청원 제목</label>
      <input type="text" id="petiTitle" name="petiTitle" placeholder="제목을 입력해주세요">
    </div>
    <div class="form-group">
      <label for="petiContent">청원 내용</label>
      <textarea id="petiContent" name="petiContent" placeholder="내용을 입력해주세요" rows="10"></textarea>
    </div>
    <div class="button-group">
      <button type="button" class="cancel" onclick="goBackList()" >취소</button>
      <button type="button" class="submit" onclick="$.openModal()">완료</button>
    </div>
  </form>
</div>

<!-- Modal -->
<div id="modal" class="modal">
  <div class="modal-content">
    <p>※ 청원등록 이후에는 게시글을 <span style="color: red;">삭제</span>할 수 없습니다.</p>
    <p>※ <span style="color: red;">청원</span>을 등록하시겠습니까?</p>
    <div class="modal-buttons">
      <button onclick="$.insertPeti()">Yes</button>
      <button onclick="$.canclePeti()">No</button>
    </div>
  </div>
</div>

</body>

<script>
  $(document).ready(function(){
    $("#modal").css("display","none");
  });

  $.openModal = function() {

    var title = $("#petiTitle").val().trim();
    var field = $("input[name='petiField']:checked").val();
    var content = $("#petiContent").val().trim();

    if(title === "" || field === "" || content === ""){
      alert("모든 필드를 채워주세요");
      return;
    }

    $("#modal").css("display", "block");
  }

  $.insertPeti = function(){

    $("#petition").submit();
    alert("청원이 등록되었습니다.");
  }

  $.canclePeti = function(){
    $("#modal").css("display", "none");
  }

  function goBackList(){
    if(document.referrer){
      window.history.back();
    }
    else{
      location.href='/petition/petition_list?petiField='
    }
  }

</script>


</html>
