<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjc.linkx.spotlink.ISpotMyBatisMapper">

    <insert id="insert" parameterType="SpotDto" useGeneratedKeys="true" keyProperty="id">  <!-- useGeneratedKeys 속성으로 자동생성된 키를 가져오고,
                                                                                                    keyProperty 속성에 "id" 필드를 정의하여 id 값이
                                                                                                     자동 증감되어 DB에 저장된다 -->

        INSERT INTO spot_tbl ( title
                                   , link
                                   , category
                                    , addr
                                    , roadaddr
                                    , mapx
                                    , mapy)
        VALUES ( #{title}
               , #{link}
               , #{category}
                , #{addr}
                , #{roadAddr}
                , #{mapX}
                , #{mapY})    <!-- parameterType "BoardFreeDto"를 매개변수로 받아와 해당 필드인 title, content, createId를 삽입 -->
    </insert>

    <!-- 음식점 정보 조회 -->
    <select id="getSpotList" resultType="SpotDto" >
        SELECT id
                , title
                , category
                , addr
                , roadaddr
                , mapx
                , mapy
        FROM spot_tbl
    </select>

    <!-- 특정 음식점의 리뷰 리스트 조회 -->
    <select id="getReviewsBySpotId" parameterType="Long" resultType="SpotReviewDto">
        SELECT r.id
        , r.reviewTitle
        , r.reviewContent
        , r.reviewStar
        , r.reviewLike
        , r.reviewDate
        , u.nickname AS userNickname
        , r.userId  <!-- 추가로 확인 -->
        FROM spot_review_tbl r
        JOIN user_tbl u ON r.userId = u.id
        WHERE r.spotId = #{spotId}
        ORDER BY r.reviewDate DESC
    </select>


    <insert id="insertReview" parameterType="SpotReviewDto" useGeneratedKeys="true" keyProperty="id">  <!-- useGeneratedKeys 속성으로 자동생성된 키를 가져오고,
                                                                                                    keyProperty 속성에 "id" 필드를 정의하여 id 값이
                                                                                                     자동 증감되어 DB에 저장된다 -->

        INSERT INTO spot_review_tbl ( reviewTitle
        , reviewContent
        , spotId
        , userId
        , reviewDate
        , reviewStar
        , reviewLike
        , userNickName)
        VALUES ( #{reviewTitle}
        , #{reviewContent}
        , #{spotId}
        , #{userId}
        , #{reviewDate}
        , #{reviewStar}
        , #{reviewLike}
        , #{userNickName})    <!-- parameterType "BoardFreeDto"를 매개변수로 받아와 해당 필드인 title, content, createId를 삽입 -->
    </insert>

    <select id="getReviewById" parameterType="Long" resultType="SpotReviewDto">
        SELECT * FROM spot_review_tbl WHERE id = #{reviewId}
    </select>

    <delete id="deleteReviewById" parameterType="Long">
        DELETE FROM spot_review_tbl WHERE id = #{reviewId}
    </delete>


</mapper>
