.main {
    padding: 15px;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {

    width: 80%; /* 너비를 80%로 늘려서 화면을 더 채우도록 설정 */
    margin: 20px auto; /* 위아래 마진을 20px로 줄여서 더 꽉 찬 느낌을 줍니다 */
    background-color: #fff;
    padding: 40px; /* 패딩을 40px로 늘려서 콘텐츠가 더 넓게 보이도록 합니다 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.countdown-circle {
    position: absolute;
    top: 20px; /* 위쪽 위치를 조정 */
    right: 20px; /* 오른쪽 위치를 조정 */
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-bottom: 30px; /* 아래쪽 마진을 늘려서 더 시각적 여백을 줍니다 */
}

.post h2 {
    font-size: 24px;
    margin-bottom: 20px; /* 아래쪽 마진을 늘려서 더 여백을 줍니다 */
}

.date,
.vote-period,
.vote-count {
    font-size: 14px;
    color: #666;
}

.content {
    min-height: 200px; /* 최소 높이를 설정 */
    padding: 20px; /* 여백을 추가 */
    font-size: 16px;
    line-height: 1.8; /* 줄 간격을 늘려서 가독성을 높입니다 */
    margin: 30px 0; /* 위아래 마진을 늘려서 콘텐츠를 더 넓게 보이도록 합니다 */
}


.button-group {
    text-align: center;
}

button {
    padding: 15px 30px; /* 패딩을 늘려서 버튼이 더 크게 보이도록 합니다 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.list {
    background-color: #ccc;
    color: #fff;
    margin-right: 20px; /* 오른쪽 마진을 늘려서 버튼 간격을 넓힙니다 */
}

button.agree {
    background-color: #007bff;
    color: #fff;
}

.category {
    font-size: 14px;
    color: #00bfff;
    margin-bottom: 10px; /* 아래쪽 마진을 늘려서 더 여백을 줍니다 */
}
