<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{pageName}}</title>
    <style>
        .error-class {
            border-color: red;
        }
        .error-input {
            border-color: red;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div>
    <h1><a href="/">메인 화면 가기</a></h1>
    <hr/>

    <h2>회원 가입</h2>
    <form method="post" action="/{{loginType}}/join">
        <div>
            <label for="loginId">로그인 아이디 :</label>
            <input type="text" id="loginId" name="loginId"
                   class="{{#errors.loginId}}error-input{{/errors.loginId}}"
                  />
            <button class="loginIdCheckButton" type="button" >중복 확인</button>
            {{#errors.loginId}}
            <div class="error-class">{{.}}</div>
            {{/errors.loginId}}
        </div>
        <br/>

        <div>
            <label for="password">비밀번호 :</label>
            <input type="password" id="password" name="password"
                   class="{{#errors.password}}error-input{{/errors.password}}"/>
            {{#errors.password}}
            <div class="error-class">{{.}}</div>
            {{/errors.password}}
        </div>
        <br/>

        <div>
            <label for="passwordCheck">비밀번호 체크 :</label>
            <input type="password" id="passwordCheck" name="passwordCheck"
                   class="{{#errors.passwordCheck}}error-input{{/errors.passwordCheck}}"/>
            {{#errors.passwordCheck}}
            <div class="error-class">{{.}}</div>
            {{/errors.passwordCheck}}
        </div>
        <br/>

        <div>
            <label for="name">이름 :</label>
            <input type="text" id="name" name="name"
                   class="{{#errors.name}}error-input{{/errors.name}}"/>
            {{#errors.name}}
            <div class="error-class">{{.}}</div>
            {{/errors.name}}
        </div>
        <div>
            <label for="name">닉네임 :</label>
            <input type="text" id="nickname" name="nickname"
                   class="{{#errors.nickname}}error-input{{/errors.nickname}}"/>
            <button class="nicknameCheckButton" type="button" >중복 확인</button>
            {{#errors.nickname}}
            <div class="error-class">{{.}}</div>
            {{/errors.nickname}}
        </div>
        <div>
            <label for="phone">전화번호 :</label>
            <input type="text" id="phone" name="phone"
                   class="{{#errors.phone}}error-input{{/errors.phone}}"/>
            <button class="phoneCheckButton" type="button" >중복 확인</button>
            {{#errors.phone}}
            <div class="error-class">{{.}}</div>
            {{/errors.phone}}
        </div>
        <div>
            <label for="name">이메일 :</label>
            <input type="text" id="email" name="email"
                   class="{{#errors.email}}error-input{{/errors.email}}"/>
            <button class="emailCheckButton" type="button" >중복 확인</button>
            {{#errors.email}}
            <div class="error-class">{{.}}</div>
            {{/errors.email}}
        </div>
        <div>
            <label for="univ">학교명 :</label>
            <input type="text" id="univ" name="univ"
                   class="{{#errors.univ}}error-input{{/errors.univ}}"/>
            {{#errors.univ}}
            <div class="error-class">{{.}}</div>
            {{/errors.univ}}
        </div>
        <div>
            <select id="majorId" name="majorId">
                <option value="" disabled selected>학과를 선택해 주세요</option>
                <option value="1" id="cse">컴퓨터공학과</option>
                <option value="2" id="cybersec">컴퓨터보안공학과</option>
                <option value="3" id="elec">전자공학과</option>
                <option value="4" id="ict">정보통신공학과</option>
                <option value="5" id="mech">기계공학과</option>
                <option value="6" id="ie">산업경영공학과</option>
                <option value="7" id="ee">전기공학과</option>
                <option value="8" id="civil">토목공학과</option>
                <option value="9" id="geo">지적공간정보학과</option>
                <option value="10" id="drone">드론정보공학과</option>
                <option value="11" id="biz">경영학과</option>
                <option value="12" id="tax">세무회계과</option>
                <option value="13" id="welfare">사회복지과</option>
                <option value="14" id="realEstate">부동산경영과</option>
                <option value="15" id="aviation">항공서비스과</option>
                <option value="16" id="japan">일본어과</option>
                <option value="17" id="edu">유아교육과</option>
                <option value="18" id="lit">문예창작과</option>
                <option value="19" id="china">중국어비즈니스과</option>
                <option value="20" id="id">산업디자인과</option>
                <option value="21" id="comdes">커뮤니케이션디자인과</option>
                <option value="22" id="fashion">패션리빙디자인과</option>
                <option value="23" id="pe">사회체육과</option>
                <option value="24" id="beauty">뷰티매니지먼트과</option>
                <option value="25" id="health">보건의료정보과</option>
                <option value="26" id="music">실용음악과</option>
                <option value="27" id="theater">연극영상학과</option>
            </select>
            {{#errors.majorId}}
            <div class="error-class">{{.}}</div>
            {{/errors.majorId}}
        </div>

        <div>
            <label for="univ">학번 :</label>
            <input type="text" id="stuNum" name="stuNum"
                   class="{{#errors.stuNum}}error-input{{/errors.stuNum}}"/>
            <button class="stuNumCheckButton" type="button" >중복 확인</button>
            {{#errors.stuNum}}
            <div class="error-class">{{.}}</div>
            {{/errors.stuNum}}
        </div>
        <br/>

        <button type="button" onclick="$.signup();">회원 가입</button>
    </form>
</div>
</body>
<script>
    $.signup = function () {
        const formData = {
            loginId: $("#loginId").val(),
            password: $("#password").val(),
            passwordCheck: $("#passwordCheck").val(),
            name: $("#name").val(),
            nickname: $("#nickname").val(),
            phone: $("#phone").val(),
            email: $("#email").val(),
            univ: $("#univ").val(),
            majorId: $("#majorId").val(),
            stuNum: $("#stuNum").val()
        };

        // 초기화: 모든 오류 메시지와 오류 스타일 제거
        $(".error-class").remove();
        $("input").removeClass("error-input");

        $.ajax({
            url: '/api/vi/user/signup', // 회원가입 컨트롤러 엔드포인트
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),  // js객체를 json형식으로 변환

            success: function (response) {
                // response(code, httpStatus, message, responseData)
                if (response.code === 200) {
                    alert("회원가입이 완료되었습니다.");
                    window.location.href = '/'; // 성공 시 메인 화면으로 이동
                } else {
                    alert("회원가입 중 오류가 발생했습니다: " + response.message);
                }
            },
            error: function (xhr) {
                if (xhr.status === 400) {
                    const errorMessages = JSON.parse(xhr.responseText).message.split(", ");
                    // 오류 메시지를 각 필드에 맞게 표시
                    errorMessages.forEach(error => {
                        const [field, message] = error.split(": ");
                        const errorField = field.replace(/'/g, ""); // 필드 이름에서 작은따옴표 제거

                        // 해당 필드에만 오류 스타일 적용
                        $(`#${errorField}`).addClass("error-input");
                        $(`#${errorField}`).after(`<div class="error-class">${message}</div>`);
                    });
                } else {
                    alert("예기치 못한 오류가 발생했습니다. 잠시 후 다시 시도해주세요.");
                }
            }
        });
    };

    $.idCheck = function () {


        $.ajax({
            url: '/api/vi/user/signup', // 회원가입 컨트롤러 엔드포인트
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),  // js객체를 json형식으로 변환

            success: function (response) {
                // response(code, httpStatus, message, responseData)
                if (response.responseData === true) {
                    alert("아이디가 중복되었습니다.");
                    window.location.href = '/'; // 성공 시 메인 화면으로 이동
                } else {
                    alert("사용가능한 아이디입니다");
                }
            },
            error: function (xhr) {
                if (xhr.status === 400) {
                    const errorMessages = JSON.parse(xhr.responseText).message.split(", ");
                    // 오류 메시지를 각 필드에 맞게 표시
                    errorMessages.forEach(error => {
                        const [field, message] = error.split(": ");
                        const errorField = field.replace(/'/g, ""); // 필드 이름에서 작은따옴표 제거

                        // 해당 필드에만 오류 스타일 적용
                        $(`#${errorField}`).addClass("error-input");
                        $(`#${errorField}`).after(`<div class="error-class">${message}</div>`);
                    });
                } else {
                    alert("예기치 못한 오류가 발생했습니다. 잠시 후 다시 시도해주세요.");
                }
            }
        });
    };

</script>
</html>
