<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/login.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <a class="logoBtn" href="/"><img class="logo" src="/img/linkxLogo.png"></a>
    </header>
    <main>
        <div class="login-box">
            <h2>로그인</h2>
            <div class="errorMsg"></div>
            <form id="loginForm">
                <input type="text" placeholder="ID를 입력해주세요." class="input-field" id="loginId" name="loginId"  required>
                <input type="password" placeholder="비밀번호를 입력해주세요." class="input-field" id="password" name="password" required>
                <button type="button" class="btn login-btn" onclick="$.login();">로그인</button>
            </form>
            <div class="divider">
                <span>or</span>
            </div>
            <p class="signup-text">
                아직 회원이 아니신가요? <a href="/login/join" class="signup-link">회원가입</a>
            </p>
            <p class="signup-text">ID를 잊으셨나요? <a href="/login/findID" class="signup-link">ID 찾기</a></p>
            <p class="signup-text">PW를 잊으셨나요? <a href="/login/findPW" class="signup-link">PW 초기화</a></p>
        </div>
    </main>
</div>
<script>
    // 로그인 처리
    $.login = function () {
        let loginId = $("#loginId").val();
        let password = $("#password").val();
        // 에러메시지 영역
        let errorMsg = $(".errorMsg");
        // 아이디가 빈 값인 경우
        if (loginId === "") {
            let idField = $("#loginId");
            idField.css("border", "2px solid red");

            errorMsg.text("아이디를 입력하세요");
            return;
        }
        // 비밀번호가 빈 값인 경우
        if (password === "") {
            let pwField = $("#password");
            pwField.css("border", "2px solid red");

            errorMsg.text("비밀번호를 입력하세요");
            return;
        }

        let loginRequest = {
            loginId : loginId,
            password : password
        };

        $.ajax({
            url : "/api/vi/user/login",
            type : "POST",
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            data : JSON.stringify(loginRequest),

            success: function (data) {
                if (data.code === 200) {
                    alert(data.message);
                    location.href="/";
                }
            },
            error: function (jqXHR) {
                // 서버 응답 데이터 JSON으로 파싱
                let response = JSON.parse(jqXHR.responseText);
                if (response.code === 500){
                    alert(response.message);
                    location.href = "/login/login";
                }else{
                    alert("해당 요청을 처리할 수 없습니다");
                }
            }
        });
    };
    // 엔터 키 이벤트 추가
    $(document).ready(function () {
        // 폼에서 keydown 이벤트 발생 시 실행
        $("#loginForm").on("keydown", function (e) {
            if (e.key === "Enter") {
                e.preventDefault(); // 폼 기본 제출 방지
                $.login();
            }
        });
    })



</script>
</body>
</html>
