/* styles.css */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}
.header{
    text-align: center;
}
.find-title,h2{
    text-align: center;
}
.container {
    padding: 50px 20px;
}


.find-box {
    background-color: #fff;
    width: 100%;
    max-width: 600px; /* 기존보다 더 넓게 */
    height : auto;
    margin: 100px auto; /* 위아래 간격을 조금 늘림 */
    padding: 50px 40px; /* 내부 여백을 키워 요소 간 간격을 확보 */
    border-radius: 12px; /* 모서리 조금 더 둥글게 */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* 그림자 강조 */
}

.find-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.input-group label{
    font-weight: bold;
    color: #5e5757;
}

.input-field {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline : none;
    transition: border 0.3s ease;
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.find-btn {
    background-color: #f76394;
    color: #fff;
}


.divider {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom:10px;
    color: #aaa;
    font-size: 14px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ddd;
    margin: 0 10px;
}

.errorMsg{
    color:red;
}

.info-box {
    background-color: #f0f0f0;
    padding: 20px;
    /*display: none;*/
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;

}
.info-box span {
    font-size: 20px;
    color: #dc98c6;
}
.login-text a{
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}
